<a href="https://colab.research.google.com/github/RithwikMohan/ML_Lab/blob/main/ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

23-07-25

In [ ]:
#9
import pandas as pd
data={
    2014:[100.5,150.8,200.9,30000,40000],
    2015:[12000,18000,22000,30000,45000],
    2016:[20000,50000,70000,100000,125000],
    2017:[50000,60000,70000,80000,90000]
}
df=pd.DataFrame(data,index=['Madhu','Kusum','Kinshuk','Ankit','Shruti'])
print(df)

            2014   2015    2016   2017
Madhu      100.5  12000   20000  50000
Kusum      150.8  18000   50000  60000
Kinshuk    200.9  22000   70000  70000
Ankit    30000.0  30000  100000  80000
Shruti   40000.0  45000  125000  90000

In [ ]:
#10
import pandas as pd

print(df.index)
print(df.columns)
print(df.dtypes)
print(df.ndim)
print(df.shape)
print(df.size)
print(df.values)
print(df.tail(2))
print(df.iloc[:,:2])
new_data={2018:[160000,110000,50000,340000,90000]}
sales2=pd.DataFrame(new_data,index=['Madhu','Kusum','Kinshuk','Ankit','Shruti'])
print(sales2)
print(sales2.empty)

Index(['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti'], dtype='object')
Index([2014, 2015, 2016, 2017], dtype='int64')
2014    float64
2015      int64
2016      int64
2017      int64
dtype: object
2
(5, 4)
20
[[1.005e+02 1.200e+04 2.000e+04 5.000e+04]
 [1.508e+02 1.800e+04 5.000e+04 6.000e+04]
 [2.009e+02 2.200e+04 7.000e+04 7.000e+04]
 [3.000e+04 3.000e+04 1.000e+05 8.000e+04]
 [4.000e+04 4.500e+04 1.250e+05 9.000e+04]]
           2014   2015    2016   2017
Ankit   30000.0  30000  100000  80000
Shruti  40000.0  45000  125000  90000
            2014   2015
Madhu      100.5  12000
Kusum      150.8  18000
Kinshuk    200.9  22000
Ankit    30000.0  30000
Shruti   40000.0  45000
           2018
Madhu    160000
Kusum    110000
Kinshuk   50000
Ankit    340000
Shruti    90000
False

In [ ]:
#11
sales=pd.concat([df,sales2],axis=1)
print(sales)
print(sales.transpose())
print(sales[2017])
print(sales.loc[["Madhu",'Ankit'],[2017,2018]]) #sales made by madhu and ankith in 2017 and 2018
print(sales.loc[["Shruti"],[2016]])

sales = sales.loc[:, ~sales.columns.duplicated()] #ignore this
sales.loc["Sumeet"] = [196.2, 37800, 52000, 78438, 38852]
print(sales)

sales.drop([2014], axis=1, inplace=True) #Dropping 2014 row from sales
print(sales)

            2014   2015    2016   2017    2018
Madhu      100.5  12000   20000  50000  160000
Kusum      150.8  18000   50000  60000  110000
Kinshuk    200.9  22000   70000  70000   50000
Ankit    30000.0  30000  100000  80000  340000
Shruti   40000.0  45000  125000  90000   90000
         Madhu     Kusum  Kinshuk     Ankit    Shruti
2014     100.5     150.8    200.9   30000.0   40000.0
2015   12000.0   18000.0  22000.0   30000.0   45000.0
2016   20000.0   50000.0  70000.0  100000.0  125000.0
2017   50000.0   60000.0  70000.0   80000.0   90000.0
2018  160000.0  110000.0  50000.0  340000.0   90000.0
Madhu      50000
Kusum      60000
Kinshuk    70000
Ankit      80000
Shruti     90000
Name: 2017, dtype: int64
        2017    2018
Madhu  50000  160000
Ankit  80000  340000
          2016
Shruti  125000
            2014     2015      2016     2017      2018
Madhu      100.5  12000.0   20000.0  50000.0  160000.0
Kusum      150.8  18000.0   50000.0  60000.0  110000.0
Kinshuk    200.9  22000.0   70000.0  70000.0   50000.0
Ankit    30000.0  30000.0  100000.0  80000.0  340000.0
Shruti   40000.0  45000.0  125000.0  90000.0   90000.0
Sumeet     196.2  37800.0   52000.0  78438.0   38852.0
Index(['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti', 'Sumeet'], dtype='object')
            2015      2016     2017      2018
Madhu    12000.0   20000.0  50000.0  160000.0
Kusum    18000.0   50000.0  60000.0  110000.0
Kinshuk  22000.0   70000.0  70000.0   50000.0
Ankit    30000.0  100000.0  80000.0  340000.0
Shruti   45000.0  125000.0  90000.0   90000.0
Sumeet   37800.0   52000.0  78438.0   38852.0